# Análise de dados de vendas de uma loja de roupas

In [45]:
# ​​Analisar os dados de vendas de uma loja de roupas e apresentar um relatório que mostre a quantidade vendida, 
# o valor total arrecadado e o preço médio dos produtos vendidos em cada mês do ano.

In [47]:
# passo 1: importar as bibliotecas necessárias
import pandas as pd
import numpy as np

In [49]:
# Lista com os nomes dos produtos
nomes_produtos = ['Camisa Manga Longa', 'Camisa Gola Polo', 'Camiseta Básica', 'Calça Jeans', 'Sapato Social']

In [51]:
# Gerando DataFrame com 1000 linhas
df = pd.DataFrame({
    'ID Produto': np.random.randint(1, 11, 1000),
    'Nome Produto': np.random.choice(nomes_produtos, 1000),
    'Quantidade Vendida': np.random.randint(1, 21, 1000),
    'Preço Unitário': np.round(np.random.uniform(10, 100, 1000), 2),
    'Data da Venda': np.random.choice(pd.date_range(start='2021-01-01', end='2021-12-31'), 1000)
})

In [53]:
# salvando o DataFrame em um arquivo CSV
df.to_csv('vendas.csv', index=False)

In [55]:
# passo 2: carregar os dados de vendas, supondo que existe um arquivo CSV com os dados de vendas, carregue-os em um DataFrame
df = pd.read_csv('vendas.csv')

In [57]:
# passo 3: converter a coluna de datas para o formato datetime
df['Data da Venda'] = pd.to_datetime(df['Data da Venda'])

In [59]:
# passo 4: extrair o mês e o ano das datas de venda:
df['Ano'] = df['Data da Venda'].dt.year
df['Mês'] = df['Data da Venda'].dt.month

In [61]:
# passo 5: agrupar os dados por ano e mês
df_grouped = df.groupby(['Ano', 'Mês']).agg({
    'Quantidade Vendida': 'sum',
    'Preço Unitário': 'sum'
}).reset_index()

In [63]:
# passo 6: calcular o valor total arrecadado e o preço médio
df_grouped['Valor Total'] = df_grouped['Quantidade Vendida'] * df_grouped['Preço Unitário']
df_grouped['Preço Médio'] = df_grouped['Valor Total'] / df_grouped['Quantidade Vendida']

In [65]:
# passo 7: exibir o relatório:
print(df_grouped)

     Ano  Mês  Quantidade Vendida  Preço Unitário  Valor Total  Preço Médio
0   2021    1                 909         4463.99   4057766.91      4463.99
1   2021    2                 787         3982.84   3134495.08      3982.84
2   2021    3                1038         4858.24   5042853.12      4858.24
3   2021    4                 835         4676.30   3904710.50      4676.30
4   2021    5                1074         5242.42   5630359.08      5242.42
5   2021    6                 822         3797.41   3121471.02      3797.41
6   2021    7                 905         4841.40   4381467.00      4841.40
7   2021    8                 900         4575.00   4117500.00      4575.00
8   2021    9                 819         4907.90   4019570.10      4907.90
9   2021   10                 942         5015.39   4724497.38      5015.39
10  2021   11                1077         5555.92   5983725.84      5555.92
11  2021   12                 711         3540.81   2517515.91      3540.81