<a href="https://colab.research.google.com/github/spdr-lily/Descomplica-Data-Science/blob/main/dados_ficticios_de_vendas_de_produtos_de_uma_loja.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# importação da biblioteca
import pandas as pd

In [3]:
# criar os dados do DataFrame com os dados de vendas
dados = pd.DataFrame({'Produt': ['Camiseta', 'Calça', 'Camiseta', 'Tênis', 'Calça'],
                      'Cor': ['Azul', 'Preto', 'Branco', 'Vermelho', 'Azul'],
                      'Tamanho': ['M', 'G', 'P', 'G', 'M'],
                      'Preço': [29.99, 49.99, 19.99, 79.99, 39.99],
                      'Quantidade': [5, 3, 2, 1, 4]})

In [4]:
# exbir as primeiras linhas do DataFrame
print(dados.head())

     Produt       Cor Tamanho  Preço  Quantidade
0  Camiseta      Azul       M  29.99           5
1     Calça     Preto       G  49.99           3
2  Camiseta    Branco       P  19.99           2
3     Tênis  Vermelho       G  79.99           1
4     Calça      Azul       M  39.99           4

In [6]:
# calcular o preço médio dos produtos
preco_medio = dados['Preço'].mean()
print("Preço médio dos produtos:", preco_medio)

Preço médio dos produtos: 43.989999999999995

In [8]:
# selecionar as linhas que possuem a cor "Azul"
produtos_azuis = dados[dados['Cor'] == 'Azul']
print("Produtos na cor azul:")
print(produtos_azuis)

Produtos na cor azul:
     Produt   Cor Tamanho  Preço  Quantidade
0  Camiseta  Azul       M  29.99           5
4     Calça  Azul       M  39.99           4

In [9]:
# adicionar uma nova coluna chamada "valor total" qua calcula o valor total de cada venda (preço * quantidade)
dados['Valor Total'] = dados['Preço'] * dados['Quantidade']
print(dados)

     Produt       Cor Tamanho  Preço  Quantidade  Valor Total
0  Camiseta      Azul       M  29.99           5       149.95
1     Calça     Preto       G  49.99           3       149.97
2  Camiseta    Branco       P  19.99           2        39.98
3     Tênis  Vermelho       G  79.99           1        79.99
4     Calça      Azul       M  39.99           4       159.96

In [10]:
# ordenar o DataFrame em ordem decrescente com base no valor total
dados_ordenados = dados.sort_values('Valor Total', ascending=False)
print("Dados ordenados pelo valor total:")
print(dados_ordenados)

Dados ordenados pelo valor total:
     Produt       Cor Tamanho  Preço  Quantidade  Valor Total
4     Calça      Azul       M  39.99           4       159.96
1     Calça     Preto       G  49.99           3       149.97
0  Camiseta      Azul       M  29.99           5       149.95
3     Tênis  Vermelho       G  79.99           1        79.99
2  Camiseta    Branco       P  19.99           2        39.98

In [11]:
# remover as linhas que possuem valor total abaixo de R$100
dados_filtrados = dados[dados['Valor Total'] >= 100]
print("Dados filtrados:")
print(dados_filtrados)

Dados filtrados:
     Produt    Cor Tamanho  Preço  Quantidade  Valor Total
0  Camiseta   Azul       M  29.99           5       149.95
1     Calça  Preto       G  49.99           3       149.97
4     Calça   Azul       M  39.99           4       159.96